.ProductContainer {
  background-color: var(--background) !important;
  color: black;
  padding: 2%;
  width: 100%;
  display: flex;
}

.InnerProduct {
  background-color: var(--background);
  margin-left: 10%;
  margin-right: 3%;
  display: flex;
  flex-wrap: wrap;
  width: 65%;
}

.ProductInfoContainer {
  display: flex;
  width: 100%;
  height: 50%;
  background-color: #a6a6a6 !important;
  color: black;
  border-radius: 12px;
  border-style: double;
  border-color: #5f5f5f;
  border-radius: 12px;
  border-width: 0.2rem;
}

.ProductInfoPocket {
  margin-top: 2%;
  margin-left: 5%;
  padding: 2%;
  text-align: center;
  block-size: 15rem;
  text-align: right;
}

.ProductDescriptionPocket {
  margin-top: 2%;
  background-color: #a6a6a6 !important;
  width: 100%;
  height: 30%;

  padding: 2%;
  border-style: double;
  border-color: #5f5f5f;
  border-radius: 12px;
  border-width: 0.2rem;
  block-size: 15rem;
}

.Competitors {
  width: 25%;
  margin-right: 3%;
  background-color: #a6a6a6 !important;
  border-style: double;
  border-color: #5f5f5f;
  border-radius: 12px;
  border-width: 0.2rem;
}

.addToWishList{
  display: block;
  width: 70%;
}

.wishListNotice {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.addToWishList .wishListNotice {
  visibility: hidden;
  font-size: 2vh;
  width: 240px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -120px;
  opacity: 0;
  transition: opacity 0.3s;
  
}

.addToWishList .wishListNotice::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;

}

.addToWishList .youCanSeeMe {
  visibility: visible;
  opacity: 1;
}

.productInfoContainer {
  height: 250px;
  margin: 2%;
  padding: .5%;
  display: grid;
  grid-template-columns: 3% 25% 4% 65% 3%;
  grid-template-rows: 5% 45% 45% 5%;
  color: var(--text-primary);
  background-color: var(--background);
  border-style: solid;
  border-width: .5rem;
  border-color: #5f5f5f;
  grid-template-areas:
  ". . . . ."
  ". productIMG . productName ."
  ". productIMG . productDesc ."
  ". . . . ."
}
.sellersContainer {
  margin: 2%;
  padding: .5%;
  display: grid;
  grid-template-columns: 3% 94% 3%;
  row-gap: 20px;
  color: var(--text-primary);
  background-color: var(--background);
  border-style: solid;
  border-width: .5rem;
  border-color: #5f5f5f;
  grid-template-areas:
  ". sellerColumn ."
}

.sellerColumn{
  grid-area: sellerColumn;
}


.productIMGcontainer{
  grid-area: productIMG;
}

.productImage{
  height: 100%;
  width: 100%;
}

.productName{
  grid-area: productName;
  margin-top: auto;
  margin-bottom: auto;
  color: var(--text-primary);
  background-color: var(--background);
}

.productDesc{
  grid-area: productDesc;
  margin-top: auto;
  margin-bottom: auto;
  color: var(--text-primary);
  background-color: var(--background);
}

.table {
  background-color: var(--background);
  color: var(--text-color);
  margin: 50px;
}
