.App {
    text-align: center;
    color: var(--text-primary);
    background-color: var(--background);
     font-size: large;
    font-weight: bold;
    padding: 20px;
    
    transition: all .5s;
}


.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.cardImg {
    width: 50%;
    height: 50%;
}
.fa {
    color: rgb(25, 135, 84);
}


input[type="checkbox"]{
    position: relative;
    width: 120px;
    height: 40px;
    -webkit-appearance: none;
    background: linear-gradient(0deg,#333,#000);
    outline: none;
    border-radius: 20px;
    box-shadow: 0 0 0 4px #353535, 0 0 0 5px #3e3e3e,
    inset 0 0 10px rgb(8, 184, 52),0 5px 20px rgb(8, 184, 52), inset 0 0 15px rgb(8, 184, 52);
  }
  input:checked[type="checkbox"] {
    background: linear-gradient(0deg,#6dd1ff,#20b7ff);
    box-shadow: 0 0 2px #6dd1ff, 0 0 0 4px #353535, 0 0 0 5px #3e3e3e,
    inset 0 0 10px rgb(8, 184, 52),0 5px 20px rgb(8, 184, 52), inset 0 0 15px rgb(8, 184, 52);
  }
  input[type="checkbox"]:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 40px;
    background: linear-gradient(0deg,#000,#6b6b6b);
    border-radius: 20px;
    box-shadow: 0 0 0 1px #232323;
    transform: scale(.98, .96);
    transition: .5s;
  }
  input:checked[type="checkbox"]:before {
    left: 40px;
  }
  input[type="checkbox"]:after{
    content: '';
    position: absolute;
    top: calc(50% - 2px);
    left: 65px;
    width: 4px;
    height:  4px;
    background: linear-gradient(0deg,#6b6b6b,#000);
    border-radius: 50%;
    transition: .5s;
  }
  input:checked[type="checkbox"]:after {
    background: #63ff78;
    left: 105px;
    box-shadow: 0 0 5px #13b3ff, 0 0 15px #13b3ff;
  }
.card {
    color: var(--text-primary);
    background-color: var(--background);
}

.card-header {
    color: var(--text-primary);
    background-color: var(--background);
}

.card-body {
    color: var(--text-primary);
    background-color: var(--background);
}

.card-title {
    color: var(--text-primary);
    background-color: var(--background);
}

.card-text {
    color: var(--text-primary);
    background-color: var(--background);
}

* {
    color: var(--text-primary);
}

.footer-info {
    color: var(--text-primary);
    background-color: var(--background);
}
