.productContainer {
    display: flex;
    flex-flow: row;
    margin: 25px;
    border: 3px inset var(--text-primary);
    padding: 10px;
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--background) !important;
}

.wishListBody {
    flex-flow: column;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
}

.productImg {
    max-width: 150px;
    max-height: 150px;
}

.wishListHeader {
    padding-top: 35px;
    padding-bottom: 15px;
    font-weight: bold;
    font-size: 34px;
}

.productName {
    font-weight: bold;
    font-size: 22px;
}

.btn {
    background-color: #999;
    margin-left: 40px;
    margin-top: 15px;
    border: 2px solid var(--text-primary);
    color: var(--accent);
    font-weight: bold;
    font-size: 14px;
}

.btn:hover {
    text-decoration: underline;
}

.viewProductBtn:hover {
    background-color: rgb(20, 161, 255);
}

.removeWishBtn:hover {
    background-color: rgb(247, 39, 39);
}