.fbar {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 10px;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    outline: none;
    font-size: 20px;
    width: 60%;
    border-radius: 5px;
}

.DisplayPage {
    width: 100%;
    height: 100%;
    background-color: lightgreen;
    display: block;
    flex-flow: wrap;
    position: absolute;
}

.DisplayHeader {
    height: 15%;
    width: 100%;
    position: fixed;
    display: block;
    background-color: rgb(17, 15, 15);
    
}

.DisplayHeaderBlock {
    height: 15%;
    width: 100%
}

.CatagoryNav {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgb(26, 22, 22);
    position: relative;
    width: auto;
}

.Catalink {
    width: auto;
    
    
    color: rgb(163, 103, 39);
    text-decoration: none;
}

.Catalink:hover {
    
    text-shadow:1px 1px 10px rgb(228, 183, 60), 1px 1px 10px rgb(228, 183, 60);
    color: rgb(255, 163, 63);
}

.ProductCardContainer {
    margin: 2%;
    padding: .5%;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
    row-gap: 20px;
    column-gap: 5px;
    background-color: #1b1b1b;
    border-style: solid;
    border-width: .5rem;
    border-color: #5f5f5f;
}

